$font-primary: Whitney, "Helvetical Neue", Helvetica, Arial, sans-serif;
$font-secondary: "ABC Ginto Normal", "Helvetical Neue", Helvetica, Arial, sans-serif;

.login-box {
  height: 25rem;
  width: 40rem;
  font-family: $font-primary;
  h1 {
    font-weight: 800;
  }

  h2 {
    font-weight: 600;
  }
  .subtext {
    font-weight: 700;
  }

  .login-label {
    font-weight: 800;
  }
}

.taller-login {
  height: 30rem;
}

.Home {
  overflow: hidden;
  opacity: 1.6;
  font-family: $font-secondary;

  .server-bar {
    width: 4.5rem;

    .home-button {
      border-radius: 25px;
    }
    .home-button:hover {
      border-radius: 10px;
    }
  }

  .fc-bar {
    left: 4.5rem;
    width: 15rem;
    height: 100%;
    background-color: #f1f2f4;
    overflow: auto;

    .username-settings {
      font-weight: 600;
    }

    .fc-list-label {
      font-weight: 800;
    }

    .fc-list {
      overflow: auto;
      font-weight: 600;
      height: 60rem;
    }

  }

  .main-view {
    width: 80vw;
    // width: 74.4rem;
    // height: 59.15rem;
    height: 100%;
    left: 19.5rem;
    // top: 3.01rem;

    .DMs {
      // .DM {

      // }

      // input {
        
      // }

      .dm-container{
        height: 87vh;
        display: flex;
        flex-direction: column-reverse;
      }

      .dm-message{
        overflow-wrap: break-word;
        word-wrap: break-word;
        hyphens: auto;
        white-space: normal; //this is the one that gets you all the time
      }
      
    }

    .MainView {
      .searchicon{
        top: 4.3rem;
        right: 11vw;
      }
    }

    .online {
      font-weight: 600;
    }

    .search-bar {
      width: 68.5vw;
    }

    .friends-list {
      top: 6.5rem;
      height: fit-content;
      overflow: auto;

      .Friend {
        border-top-width: 1px;
        height: 3.84rem;
        width: 70vw;
        font-weight: 600;
      }
    }
  }

  .nav-view {
    left: 19.5rem;
    height: 3rem;
    width: 74.4rem;
    z-index: 100;
    padding: 0.9rem;

    h2 {
      font-weight: 600;
      width: 4.6rem;
    }
  }

  .activity-tab {
    right: 0;
    width: 26.1rem;
    height: 95vh;
    z-index: 50;
    top: 3.01rem;
  }
}

.pfp {
  border-radius: 9999px;
}