$font-primary: Whitney, "Helvetical Neue", Helvetica, Arial, sans-serif;
$font-secondary: "ABC Ginto Normal", "Helvetical Neue", Helvetica, Arial, sans-serif;

.login-box {
  height: 25rem;
  width: 40rem;
  font-family: $font-primary;
  h1 {
    font-weight: 800;
  }

  h2 {
    font-weight: 600;
  }
  .subtext {
    font-weight: 700;
  }

  .login-label {
    font-weight: 800;
  }
}

.taller-login {
  height: 30rem;
}

.Home {
  opacity: 1.6;
  font-family: $font-secondary;

  .server-bar {
    width: 4.5rem;
  }

  .fc-bar {
    left: 4.5rem;
    width: 15rem;
    height: 100%;
    background-color: #f1f2f4;
    overflow: auto;

    // .user-settings {
      
    // }

    .fc-list {
      overflow: auto;
    }

  }

  .main-view {
    width: 74.4rem;
    height: 59.15rem;
    left: 19.5rem;
    top: 3.01rem;

    .online {
      font-weight: 600;
    }

    .search-bar {
      width: 95.24%;
    }

    .friends-list {
      top: 6.5rem;
      height: 52.3rem;
      overflow: auto;

      .Friend {
        border-top-width: 1px;
        height: 3.84rem;
        font-weight: 600;
      }
    }
  }

  .nav-view {
    left: 19.5rem;
    height: 3rem;
    width: 74.4rem;
    z-index: 100;
    padding: 0.9rem;

    h2 {
      font-weight: 600;
      width: 4.6rem;
    }
  }

  .activity-tab {
    right: 0;
    width: 26.1rem;
    height: 59.15rem;
    z-index: 50;
    top: 3.01rem;
  }
}